/* myFundi CUSTOM STYLES */

.navbar-default .navbar-nav .dropdown{
  padding: 5px 0px !important;
}
.dropdown li a{
  color: #FF4F57 !important;
}
.dropdown li a:hover{
  color: #fff !important;
}

/* Tabs */
.tabs-2 .nav-item{
  width: 50%;
}
.nav-link.active{
  border-bottom: solid 2px #4B515D;
}
.nav-link{
  margin-left: 0px;
  margin-right: 0px;
}
/* Social btn */
.btn-fb {
    background-color: #3B5998;
}

.btn-tw {
    background-color: #55ACEE;
}
.btn-gplus {
    background-color: #DD4B39;
}
.push-bottom{
    margin-bottom: 15px;
}

.push-bottom-2x{
    margin-bottom: 30px;
}

.push-bottom-3x{
    margin-bottom: 45px;
}

.push-bottom-xx{
    margin-bottom: 100px;
}
